.radio {
    background: rgb(204, 24, 24);
    margin-right: 15px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
