.App {
    --header_height: 60px;
    max-width: 1280px;
    min-height: 380px;
    margin: 0 auto;
    /*padding: 130px 0 0 0;*/
}

.hw {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 373px;
    padding: 25px 70px 30px 70px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
}

.hwTitle {
    margin-top: 70px;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;

    padding: 0 70px 10px 70px;
}